<mat-toolbar color="primary"> <!--navbar-->
    <a mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>menu_books</mat-icon>
    </a>
    <span>Portal de exámenes</span>
    <span class="example-spacer"></span>
    <a mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
        Preueba Iniciar sesión
    </a>
    <a mat-icon-button class="example-icon favorite-icon mr20 ml70" aria-label="Example icon-button with heart icon">
        Preueba Registrar
    </a>
    <a style="margin-right: 50px" mat-icon-button class="example-icon favorite-icon"
        aria-label="Example icon-button with heart icon">
        Preueba Cerrar Sesión
    </a>
    <button mat-button style="margin-right: 10px" class="example-icon favorite-icon"
        aria-label="Example icon-button with heart icon">
        Prueba Usuario
    </button>
</mat-toolbar>